langchain==0.3.12     # Core LangChain library
langchain-huggingface==0.1.2 # HuggingFace embeddings for LangChain
langchain-community==0.3.12 # FAISS integration for LangChain
langchain_groq==0.2.1 # Groq-based LLM integration
faiss-cpu==1.9.0.post1  # FAISS library for similarity search
sentence-transformers==3.3.1  # HuggingFace Sentence Transformers for embeddings
